# Flutter/Dart
**/build/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/
.clang_complete
.pub-cache/
.dart_tool/
.packages
*.iml
.vscode/
.idea/

# Android Studio
.gradle/
.idea/
*.iml
.local/
*.iws
*.ipr
*.iws
*.iml
*.log
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/shelf/
.idea/misc.xml
.idea/webResources.xml

# Android
/build/
/local.properties
/.gradle
/captures/
*.aar
*.apk
*.ap_

# Miscellaneous
/.metadata/
*.log
*.pot
*.tml
*.tmx
*.mtj
*.mtp
*.maven
*.launch
*.sublime-project
*.sublime-workspace
*.tags
*.tags_sorted_by_file
*.komodoproject
.komodotools/
.coverage
.DS_Store
